{
  "plugins": [["relay", { "artifactDirectory": "./src/__generated__" }]],
  "presets": ["babel-preset-expo"],
  "env": {
    "development": {
      "plugins": ["transform-react-jsx-source"]
    }
  }
}
